#alpha {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    font-size: 2vw;
    padding: 2%;
}

.guessedCorrect {
    color: greenyellow;
    background-color: green;
}

.guessedIncorrect {
    background-color: red;
    color: orangered;
}