#alpha {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 25px solid white;
    width: 60%;
    transform: rotate(-5deg);
    clip-path: polygon(2% 0, 99% 8%, 100% 100%, 0 95%);
    z-index: 1000;

}

p {
    font-size: 2vw;
    padding: 3%;
    margin: 0%;
    font-weight: 900;
    clip-path: polygon(3% 5%, 95% 8%, 94% 97%, 6% 97%);
}

@media screen and (max-width: 1200px) and (min-width: 450px) {
    #alpha{
        border: 5px solid white;
        width: 90%;
    }

    p {
        font-size: 4vw;
    }
}

@media screen and (max-width: 450px) {
    #alpha{
        border: 5px solid white;
        width: 90%;
    }

    p {
        font-size: 6vw;
    }
}

.guessedCorrect {
    background-color: #6de8dd;
    color: black;
}

.guessedIncorrect {
    background-color: #ee1601;
    color: white;
}