button {
    background-color: black;
    border: 15px solid white;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 900;
    width: 80%;
    padding: 5% 10%;
    font-size: 1.5vw;
    width: max-content;
}

@media screen and (max-width: 1200px) and (min-width: 450px) {
    button{
        border: 5px solid white;
        font-size: 3vw;
    }
}

@media screen and (max-width: 450px){
    button{
        border: 5px solid white;
        font-size: 5vw;
    }
}

#first {
    clip-path: polygon(0 0, 100% 9%, 100% 95%, 5% 100%);
    transform: rotate(3deg);
}

#second {
    margin-left: 15%;
    clip-path: polygon(8% 0, 100% 13%, 100% 84%, 0% 100%);
    transform: rotate(-4deg);
}

button:hover {
    background-color: #ee1601;
    color: #6de8dd;
}