button {
    background-color: black;
    border: 5px solid white;
    color: white;
    padding: 15px 32px;
    margin: 1%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 900;
}

button:hover {
    background-color: #ee1601;
    color: #6de8dd;
}