#clickMe {
    background-color: black;
    border: 15px solid white;
    color: white;
    padding: 1% 2%;
    position: absolute;
    z-index: 2000;
    display: block;
    transition-duration: 0.4s;
    top: 35%;
    left: 20%;
    cursor: pointer;
    transform: rotate(-4deg);
    clip-path: polygon(0 0, 100% 5%, 97% 93%, 1% 96%);
}

#clickMe > a {
    font-size: 2vw;
    letter-spacing: 0.5em;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    #clickMe{
        border: 5px solid white;
    }

    #clickMe > a  {
        font-size: 4vw;
    }
}

#clickMe:hover {
    background-color: #ee1601;
    color: #6de8dd;
}