#stateContainer{
    display: flex;
    width: 22%;
    flex-direction: column;
    align-items: center;
    transform: rotate(-5deg);
    z-index: 1500;
    margin-top: 3%;
}

img {
    max-width: 70%;
    height: auto;
    background-color: black;
    border: 15px solid white;
    clip-path: polygon(0 0, 100% 3%, 99% 97%, 4% 100%);
    animation-name: incorrect;
    animation-duration: 2s;
    animation-play-state: paused;
}

#hangmanConditions {
    font-size: 1.5vw;
    padding: 1%;
    font-weight: 700;
    color: white;
    background-color: black;
    border: 20px solid white;
    transform: rotate(7deg);
    clip-path: polygon(2% 25%, 100% 3%, 95% 91%, 0 91%);
    width: max-content;
}


@media screen and (max-width: 1200px) and (min-width: 450px) {
    #stateContainer{
        width: 40%;
        margin-top: 0%;
    }
    #hangmanConditions{
        border: 5px solid white;
        font-size: 3vw;
    }
    img {
        width: 40%;
        border: 5px solid white;
    }
}

@media screen and (max-width: 450px) {
    #stateContainer{
        width: 50%;
    }
    #hangmanConditions{
        border: 5px solid white;
        font-size: 4vw;
    }
    img {
        width: 70%;
        border: 5px solid white;
    }
}

@keyframes incorrect {
    0%   {filter: invert(0%);}
    50%  {filter: invert(100%);}
    100% {filter: invert(0%);}
}