#nav {
    display: flex;
    background-color: black;
    color: #660904;
    justify-content: center;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    margin-bottom: 1%;
    transform: rotate(1deg);
}

h2 {
    font-size: 4em;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
}

select {
    background-color: black;
    border: 5px solid white;
    color: white;
    padding: 0px 32px;
    margin: 1%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 900;
}

select:hover {
    background-color: #ee1601;
    color: #6de8dd;
}