#nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    z-index: 1000;
    margin-left:80%;
    transform: rotate(12deg);
    top: 5%;
}

select {
    background-color: black;
    border: 15px solid white;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 900;
    width: 70%;
    margin-left: 11%;
    clip-path: polygon(0 0, 100% 3%, 100% 81%, 6% 93%);
    transform: rotate(-4deg);
    padding: 15px 32px;
    text-align: center;
}

select:hover {
    background-color: #ee1601;
    color: #6de8dd;
}