#nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    z-index: 1000;
    margin-left:80%;
    transform: rotate(12deg);
    top: 5%;
}

#difficulty {
    width: 70%;
    margin-left: 11%;
    clip-path: polygon(0 0, 100% 3%, 100% 81%, 6% 93%);
    transform: rotate(-4deg);
    padding: 15px 0px;
    text-align: center;
}

#difficulty > p {
    clip-path: none;
    font-size: 1em;
    display: inline;
    padding-left: 30px;
}

#difficulty > p:first-of-type {
    padding-right: 30px;
    padding-left: 0px;
}