#guessingContainer {
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    background-color:#ee1601;
    padding-top: 3%;
    padding-bottom: 5%;
    z-index: 1000;
}

a {
    font-size: 6vh;
    letter-spacing: 0.5em;
    text-decoration: none;
    word-wrap: break-word;
    margin: auto;
    color: #6de8dd;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    font-weight: 900;
}

@keyframes blinking {
    0%   {color: #6de8dd;}
    50%  {color: black;}
    100% {color: #6de8dd;}
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    color: white;
}