#guess {
    background-color: #ee1601;
    color: white;
    font-size: 4vw;
    width: 75px;
    text-align: center;
    outline: none;
    border: 15px solid white;
    clip-path: polygon(5% 0, 93% 4%, 97% 97%, 0% 100%);
}

#guessButton {
    clip-path: polygon(0 15%, 100% 3%, 97% 95%, 2% 91%);
}

#userDiv {
    display: flex;
    width: 25%;
    margin-left: 7%;
    justify-content: center;
    align-items: baseline;
}

@media screen and (max-width: 1200px) {
    
    #userDiv {
      display: flex;
      width: 25%;
      justify-content: center;
      margin: 0;
    }

    #guess {
        border: 5px solid white;   
        font-size: 8vw;
    }
  }

.hover-animation {
    animation: buttonPress 0.2s;
}

@keyframes buttonPress {
    0%   {background-color: black; color: white;}
    50%  {background-color: #ee1601; color: #6de8dd;}
    100% {background-color: black; color: white;}
}