.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#mainBack{
  display: flex; 
  flex-direction: column;
  width: 90vw;
  margin: auto;
  height: 100vh;
  justify-content: center;
}

#visualBack{
  width: 90vw;
  height: 100vh;
  clip-path: polygon(0 0, 100% 4%, 95% 98%, 3% 100%);
  background-color: black;
  position: absolute;
  margin-left: 5vw;
}

#userFlexBox{
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: visible;
  position: relative;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  #userFlexBox{
    display: flex;
    justify-content: center;
    overflow: visible;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  #mainBack{
    justify-content: end;
  }
}

#text{
  font-family:'Times New Roman', Times, serif;
  font-size: 15vw;
  letter-spacing: 0.1em;
  padding-bottom: 1%;
  padding-left: 0%;
  color: #1c0302;
  line-height: 50%;
  transform: skew(3deg) rotate(3deg);
  position: absolute;
  top: 5%;
}
