body {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #660904;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing:border-box;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
